/Labwork3/.vsconfig
/Labwork3/Labwork3.sln
/Labwork3/.vs
/Labwork3/Binaries
/Labwork3/DerivedDataCache
/Labwork3/Intermediate
/Labwork3/Saved
/LabWork4/Content/Maps
/LabWork4/Content/StylizedModularChar
/LabWork4/Content/Collections
/LabWork4/Content/Developers
/LabWork4/Content/Geometry
/LabWork4/Content/Mannequin
/Assigment1
